*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-links: #0077DC;
}

h3 {
    font-size: 24px;
    font-family: 'Calibri';
    color: #042C6E;
}

body {
    font-size: 16px;
    font-family: 'Calibri';
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.footer {
    
    padding-top: 30px;
    padding-bottom: 30px;
}

.informacion {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 50px;
}

.logo-footer {
    width: 223px;
    height: 248px;
}

.informacion div {
    margin-left: auto;
    margin-right: auto;
}

.informacion h2 {
    color: #FFFFFF;
}

.informacion p {
    color: #FFFFFF;
    font-family: 'Calibri';
    font-size: 16px;
}

.informacion a {
    color: #FFFFFF;
    size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    background-color: #000000;
}

.derechos {
    color: #fff;
    font-family: 'Calibri';
    font-size: 20px;
   text-align: center;
    margin-top: 20px;
}

@media (max-width: 800px){
    .informacion{
        padding: 20px 30px;
        grid-template-columns: 1fr;
        padding: auto ;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .Ubic iframe{
        width: 100%;

    }

    .CH{
        margin-top: 20%;
       
        display: block;
    }

    .IR{
        display: grid;
        margin-top: 20%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .LogoTour img{
       height: 100%;
       width: 100%;
    }
    .If a{
        font-size: 35px;
    }

    .derechos{
        text-align: center;
        
    } 
}